.content {
    margin-top: clamp(120px, 19.25vh, 180px);
    text-align: center;
}

.start-btn {
    width: 140px;
    height: 40px;
    font-size: 20px;
    background-color: antiquewhite;
    border: 0.5px black solid;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10vh;
    cursor: pointer;
}

.button-reset {
    width: 140px;
    height: 40px;
    background-color: antiquewhite;
    border: 0.5px black solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.game__display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__keyboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.game__keyboard-row:first-child {
    margin-top: 20px;
}

.game__keyboard-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.game__keyboard-letter {
    display: flex;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: 0.5px black solid;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.correct {
    background-color: greenyellow;
}

.mistake {
    background-color: rgb(246, 53, 53);
}

.choose {
    background-color: grey;
}

.none {
    background-color: none;
}

.mistake,
.correct,
.choose,
.none {
    transition: all 0.3s;
}

.game__word {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 25px;
}

.game__word-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: 0.5px black solid;
    border-radius: 5px;
}

.game__message {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.game__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.button-reset {
    margin-top: 20px;
    box-sizing: border-box;
    background-color: antiquewhite;
    border: 0.1px black solid;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}

#hangman line,
#hangman rest,
#hangman circle {
    transition: opacity 0.3s ease;
}

.no-select {
    user-select: none;
    /* запрещает выделение */
    -webkit-user-select: none;
    /* для Safari/Chrome */
    -moz-user-select: none;
    /* для Firefox */
    -ms-user-select: none;
    /* для IE/Edge */
}