.content {
    margin-top: 160px;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button {
    box-sizing: border-box;
    width: 120px;
    height: 33px;
    border-radius: 5px;
    background-color: antiquewhite;
    color: black;
    border: none;
    cursor: pointer;
    border: 0.5px black solid;
}

.generator-box,
.check-complexity {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

input {
    outline: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 0.5px black solid;
}

.complexity {
    width: 90%;
    align-self: right;
    visibility: hidden;
    transition: all 0.3s;
}

.complexity-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    gap: 2px;
}

.check-group,
.copy-group {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.check-group input {
    align-self: last baseline;
}